### Will a Customer Accept the Coupon?

**Context**

Imagine driving through town and a coupon is delivered to your cell phone for a restaraunt near where you are driving. Would you accept that coupon and take a short detour to the restaraunt? Would you accept the coupon but use it on a sunbsequent trip? Would you ignore the coupon entirely? What if the coupon was for a bar instead of a restaraunt? What about a coffee house? Would you accept a bar coupon with a minor passenger in the car? What about if it was just you and your partner in the car? Would weather impact the rate of acceptance? What about the time of day?

Obviously, proximity to the business is a factor on whether the coupon is delivered to the driver or not, but what are the factors that determine whether a driver accepts the coupon once it is delivered to them? How would you determine whether a driver is likely to accept a coupon?

**Overview**

The goal of this project is to use what you know about visualizations and probability distributions to distinguish between customers who accepted a driving coupon versus those that did not.

**Data**

This data comes to us from the UCI Machine Learning repository and was collected via a survey on Amazon Mechanical Turk. The survey describes different driving scenarios including the destination, current time, weather, passenger, etc., and then ask the person whether he will accept the coupon if he is the driver. Answers that the user will drive there ‘right away’ or ‘later before the coupon expires’ are labeled as ‘Y = 1’ and answers ‘no, I do not want the coupon’ are labeled as ‘Y = 0’.  There are five different types of coupons -- less expensive restaurants (under \\$20), coffee houses, carry out & take away, bar, and more expensive restaurants (\\$20 - \\$50).

**Deliverables**

Your final product should be a brief report that highlights the differences between customers who did and did not accept the coupons.  To explore the data you will utilize your knowledge of plotting, statistical summaries, and visualization using Python. You will publish your findings in a public facing github repository as your first portfolio piece.

### Data Description
Keep in mind that these values mentioned below are average values.

The attributes of this data set include:
1. User attributes
    -  Gender: male, female
    -  Age: below 21, 21 to 25, 26 to 30, etc.
    -  Marital Status: single, married partner, unmarried partner, or widowed
    -  Number of children: 0, 1, or more than 1
    -  Education: high school, bachelors degree, associates degree, or graduate degree
    -  Occupation: architecture & engineering, business & financial, etc.
    -  Annual income: less than \\$12500, \\$12500 - \\$24999, \\$25000 - \\$37499, etc.
    -  Number of times that he/she goes to a bar: 0, less than 1, 1 to 3, 4 to 8 or greater than 8
    -  Number of times that he/she buys takeaway food: 0, less than 1, 1 to 3, 4 to 8 or greater
    than 8
    -  Number of times that he/she goes to a coffee house: 0, less than 1, 1 to 3, 4 to 8 or
    greater than 8
    -  Number of times that he/she eats at a restaurant with average expense less than \\$20 per
    person: 0, less than 1, 1 to 3, 4 to 8 or greater than 8
    -  Number of times that he/she goes to a bar: 0, less than 1, 1 to 3, 4 to 8 or greater than 8
    

2. Contextual attributes
    - Driving destination: home, work, or no urgent destination
    - Location of user, coupon and destination: we provide a map to show the geographical
    location of the user, destination, and the venue, and we mark the distance between each
    two places with time of driving. The user can see whether the venue is in the same
    direction as the destination.
    - Weather: sunny, rainy, or snowy
    - Temperature: 30F, 55F, or 80F
    - Time: 10AM, 2PM, or 6PM
    - Passenger: alone, partner, kid(s), or friend(s)


3. Coupon attributes
    - time before it expires: 2 hours or one day

In [85]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import plotly.express as px
import numpy as np

### Problems

Use the prompts below to get started with your data analysis.  

1. Read in the `coupons.csv` file.

In [86]:
data = pd.read_csv('data/coupons.csv')

In [87]:
data.head()

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   destination           12684 non-null  object
 1   passanger             12684 non-null  object
 2   weather               12684 non-null  object
 3   temperature           12684 non-null  int64
 4   time                  12684 non-null  object
 5   coupon                12684 non-null  object
 6   expiration            12684 non-null  object
 7   gender                12684 non-null  object
 8   age                   12684 non-null  object
 9   maritalStatus         12684 non-null  object
 10  has_children          12684 non-null  int64
 11  education             12684 non-null  object
 12  occupation            12684 non-null  object
 13  income                12684 non-null  object
 14  car                   108 non-null    object
 15  Bar                   12577 non-null  object
 16  CoffeeHouse           12467 non-null  object
 17  CarryAway             12533 non-null  object
 18  RestaurantLessThan20  12554 non-null  object
 19  Restaurant20To50      12495 non-null  object
 20  toCoupon_GEQ5min      12684 non-null  int64
 21  toCoupon_GEQ15min     12684 non-null  int64
 22  toCoupon_GEQ25min     12684 non-null  int64
 23  direction_same        12684 non-null  int64
 24  direction_opp         12684 non-null  int64
 25  Y                     12684 non-null  int64
dtypes: int64(8), object(18)
memory usage: 2.5+ MB

2. Investigate the dataset for missing or problematic data.

In [89]:
#Verify Null/NaN values
data.isna().sum()
#Decision : Need to see if there is a correlation between other column values and the missing value column.
#'car' column has too many missing values and should be dropped if no impact

destination                 0
passanger                   0
weather                     0
temperature                 0
time                        0
coupon                      0
expiration                  0
gender                      0
age                         0
maritalStatus               0
has_children                0
education                   0
occupation                  0
income                      0
car                     12576
Bar                       107
CoffeeHouse               217
CarryAway                 151
RestaurantLessThan20      130
Restaurant20To50          189
toCoupon_GEQ5min            0
toCoupon_GEQ15min           0
toCoupon_GEQ25min           0
direction_same              0
direction_opp               0
Y                           0
dtype: int64

In [90]:
#Verify the duplicate rows
data[data.duplicated(keep=False)]
#Decision : Drop all duplicates

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
4191,Work,Alone,Sunny,80,7AM,Carry out & Take away,1d,Male,26,Single,...,never,1~3,less1,less1,1,1,1,0,1,1
4192,Work,Alone,Sunny,80,7AM,Carry out & Take away,1d,Male,26,Single,...,never,1~3,less1,less1,1,1,1,0,1,1
4235,Work,Alone,Sunny,80,7AM,Carry out & Take away,1d,Male,26,Single,...,gt8,gt8,4~8,less1,1,1,1,0,1,1
4236,Work,Alone,Sunny,80,7AM,Carry out & Take away,1d,Male,26,Single,...,gt8,gt8,4~8,less1,1,1,1,0,1,1
4279,Work,Alone,Sunny,80,7AM,Carry out & Take away,1d,Female,26,Single,...,never,4~8,1~3,less1,1,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8511,Home,Alone,Sunny,80,6PM,Bar,2h,Male,46,Married partner,...,1~3,1~3,less1,1~3,1,0,0,1,0,1
8512,Home,Partner,Sunny,30,10PM,Carry out & Take away,2h,Male,46,Married partner,...,1~3,1~3,less1,1~3,1,1,0,0,1,1
8513,Work,Alone,Rainy,55,7AM,Restaurant(<20),2h,Male,46,Married partner,...,1~3,1~3,less1,1~3,1,1,1,0,1,0
8515,Work,Alone,Snowy,30,7AM,Restaurant(20-50),1d,Male,46,Married partner,...,1~3,1~3,less1,1~3,1,1,1,0,1,0
8516,Work,Alone,Sunny,80,7AM,Restaurant(<20),1d,Male,46,Married partner,...,1~3,1~3,less1,1~3,1,0,0,1,0,1

In [91]:
#Check for any structural issues with data
for col in data.columns:
    print("------------------------\n")
    print(data[col].value_counts())

------------------------

destination
No Urgent Place    6283
Home               3237
Work               3164
Name: count, dtype: int64
------------------------

passanger
Alone        7305
Friend(s)    3298
Partner      1075
Kid(s)       1006
Name: count, dtype: int64
------------------------

weather
Sunny    10069
Snowy     1405
Rainy     1210
Name: count, dtype: int64
------------------------

temperature
80    6528
55    3840
30    2316
Name: count, dtype: int64
------------------------

time
6PM     3230
7AM     3164
10AM    2275
2PM     2009
10PM    2006
Name: count, dtype: int64
------------------------

coupon
Coffee House             3996
Restaurant(<20)          2786
Carry out & Take away    2393
Bar                      2017
Restaurant(20-50)        1492
Name: count, dtype: int64
------------------------

expiration
1d    7091
2h    5593
Name: count, dtype: int64
------------------------

gender
Female    6511
Male      6173
Name: count, dtype: int64
------------------------

age
21         2653
26         2559
31         2039
50plus     1788
36         1319
41         1093
46          686
below21     547
Name: count, dtype: int64
------------------------

maritalStatus
Married partner      5100
Single               4752
Unmarried partner    2186
Divorced              516
Widowed               130
Name: count, dtype: int64
------------------------

has_children
0    7431
1    5253
Name: count, dtype: int64
------------------------

education
Some college - no degree                  4351
Bachelors degree                          4335
Graduate degree (Masters or Doctorate)    1852
Associates degree                         1153
High School Graduate                       905
Some High School                            88
Name: count, dtype: int64
------------------------

occupation
Unemployed                                   1870
Student                                      1584
Computer & Mathematical                      1408
Sales & Related                              1093
Education&Training&Library                    943
Management                                    838
Office & Administrative Support               639
Arts Design Entertainment Sports & Media      629
Business & Financial                          544
Retired                                       495
Food Preparation & Serving Related            298
Healthcare Practitioners & Technical          244
Healthcare Support                            242
Community & Social Services                   241
Legal                                         219
Transportation & Material Moving              218
Architecture & Engineering                    175
Personal Care & Service                       175
Protective Service                            175
Life Physical Social Science                  170
Construction & Extraction                     154
Installation Maintenance & Repair             133
Production Occupations                        110
Building & Grounds Cleaning & Maintenance      44
Farming Fishing & Forestry                     43
Name: count, dtype: int64
------------------------

income
$25000 - $37499     2013
$12500 - $24999     1831
$37500 - $49999     1805
$100000 or More     1736
$50000 - $62499     1659
Less than $12500    1042
$87500 - $99999      895
$75000 - $87499      857
$62500 - $74999      846
Name: count, dtype: int64
------------------------

car
Scooter and motorcycle                      22
Mazda5                                      22
do not drive                                22
crossover                                   21
Car that is too old to install Onstar :D    21
Name: count, dtype: int64
------------------------

Bar
never    5197
less1    3482
1~3      2473
4~8      1076
gt8       349
Name: count, dtype: int64
------------------------

CoffeeHouse
less1    3385
1~3      3225
never    2962
4~8      1784
gt8      1111
Name: count, dtype: int64
------------------------

CarryAway
1~3      4672
4~8      4258
less1    1856
gt8      1594
never     153
Name: count, dtype: int64
------------------------

RestaurantLessThan20
1~3      5376
4~8      3580
less1    2093
gt8      1285
never     220
Name: count, dtype: int64
------------------------

Restaurant20To50
less1    6077
1~3      3290
never    2136
4~8       728
gt8       264
Name: count, dtype: int64
------------------------

toCoupon_GEQ5min
1    12684
Name: count, dtype: int64
------------------------

toCoupon_GEQ15min
1    7122
0    5562
Name: count, dtype: int64
------------------------

toCoupon_GEQ25min
0    11173
1     1511
Name: count, dtype: int64
------------------------

direction_same
0    9960
1    2724
Name: count, dtype: int64
------------------------

direction_opp
1    9960
0    2724
Name: count, dtype: int64
------------------------

Y
1    7210
0    5474
Name: count, dtype: int64

Decisions on column data:
1. destination - change value No Urgent Place to NonUrgent to be concise
2. passanger - rename column name to 'passenger' to fix typo and remove () in the values to keep it simple
3. education - simplify value by changing 'Graduate degree (Masters or Doctorate)' to 'Graduate degree' and 'Some college - no degree' to 'Some college'
4. occupation - remove spaces between & and professions, add & between professions to keep it consistent
5. income - use average value of the given range

3. Decide what to do about your missing data -- drop, replace, other...

In [92]:
#First drop all duplicates
print(data.shape)
data = data.drop_duplicates()
print(data.shape)

(12684, 26)
(12610, 26)

In [93]:
#Handle missing values
data.isna().sum()
#Does the type of car affect coupon acceptance
data.groupby('car')[['Y']].mean()

                                                 Y
car
Car that is too old to install Onstar :D  0.809524
Mazda5                                    0.727273
Scooter and motorcycle                    0.500000
crossover                                 0.380952
do not drive                              0.454545

In [94]:
data_oldcar = data.query('car == "Mazda5"')
for col in data.columns:
    print("------------------------\n")
    print(data_oldcar[col].value_counts())

------------------------

destination
No Urgent Place    13
Work                6
Home                3
Name: count, dtype: int64
------------------------

passanger
Alone        10
Friend(s)     6
Kid(s)        6
Name: count, dtype: int64
------------------------

weather
Sunny    22
Name: count, dtype: int64
------------------------

temperature
80    12
55    10
Name: count, dtype: int64
------------------------

time
2PM     6
7AM     6
10AM    5
6PM     5
Name: count, dtype: int64
------------------------

coupon
Coffee House             7
Restaurant(<20)          6
Carry out & Take away    4
Bar                      3
Restaurant(20-50)        2
Name: count, dtype: int64
------------------------

expiration
1d    11
2h    11
Name: count, dtype: int64
------------------------

gender
Male    22
Name: count, dtype: int64
------------------------

age
26    22
Name: count, dtype: int64
------------------------

maritalStatus
Married partner    22
Name: count, dtype: int64
------------------------

has_children
1    22
Name: count, dtype: int64
------------------------

education
Bachelors degree    22
Name: count, dtype: int64
------------------------

occupation
Computer & Mathematical    22
Name: count, dtype: int64
------------------------

income
$87500 - $99999    22
Name: count, dtype: int64
------------------------

car
Mazda5    22
Name: count, dtype: int64
------------------------

Bar
never    22
Name: count, dtype: int64
------------------------

CoffeeHouse
less1    22
Name: count, dtype: int64
------------------------

CarryAway
1~3    22
Name: count, dtype: int64
------------------------

RestaurantLessThan20
1~3    22
Name: count, dtype: int64
------------------------

Restaurant20To50
less1    22
Name: count, dtype: int64
------------------------

toCoupon_GEQ5min
1    22
Name: count, dtype: int64
------------------------

toCoupon_GEQ15min
1    15
0     7
Name: count, dtype: int64
------------------------

toCoupon_GEQ25min
0    20
1     2
Name: count, dtype: int64
------------------------

direction_same
0    20
1     2
Name: count, dtype: int64
------------------------

direction_opp
1    20
0     2
Name: count, dtype: int64
------------------------

Y
1    16
0     6
Name: count, dtype: int64

In [95]:

data.groupby('education')[['car', 'occupation', 'maritalStatus', 'age', 'gender']].value_counts()

education                               car                                       occupation                       maritalStatus    age  gender
Associates degree                       Car that is too old to install Onstar :D  Computer & Mathematical          Single           21   Male      21
Bachelors degree                        Mazda5                                    Computer & Mathematical          Married partner  26   Male      22
                                        do not drive                              Office & Administrative Support  Single           26   Female    22
                                        crossover                                 Legal                            Married partner  41   Female    21
Graduate degree (Masters or Doctorate)  Scooter and motorcycle                    Sales & Related                  Single           26   Male      22
Name: count, dtype: int64

In [96]:
data['education'].value_counts()

education
Some college - no degree                  4325
Bachelors degree                          4323
Graduate degree (Masters or Doctorate)    1827
Associates degree                         1148
High School Graduate                       899
Some High School                            88
Name: count, dtype: int64

In [97]:
#Good to drop the 'car' column as it is not clear what to fill it with and even if we do based on education, it will be redundant
data = data.drop('car', axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12610 entries, 0 to 12683
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   destination           12610 non-null  object
 1   passanger             12610 non-null  object
 2   weather               12610 non-null  object
 3   temperature           12610 non-null  int64
 4   time                  12610 non-null  object
 5   coupon                12610 non-null  object
 6   expiration            12610 non-null  object
 7   gender                12610 non-null  object
 8   age                   12610 non-null  object
 9   maritalStatus         12610 non-null  object
 10  has_children          12610 non-null  int64
 11  education             12610 non-null  object
 12  occupation            12610 non-null  object
 13  income                12610 non-null  object
 14  Bar                   12503 non-null  object
 15  CoffeeHouse           12393 non-null  object
 16  CarryAway             12460 non-null  object
 17  RestaurantLessThan20  12481 non-null  object
 18  Restaurant20To50      12421 non-null  object
 19  toCoupon_GEQ5min      12610 non-null  int64
 20  toCoupon_GEQ15min     12610 non-null  int64
 21  toCoupon_GEQ25min     12610 non-null  int64
 22  direction_same        12610 non-null  int64
 23  direction_opp         12610 non-null  int64
 24  Y                     12610 non-null  int64
dtypes: int64(8), object(17)
memory usage: 2.5+ MB

In [130]:
print(data.isna().sum())
#Coffee House missing value fill
#Find high and low probability labels for coupon being Coffee House and Y=1
data_coffeehouse = data.groupby(['CoffeeHouse', 'coupon'])[['Y']].mean().reset_index()

coffee_high_label = data_coffeehouse.query('coupon == "Coffee House"').sort_values(by='Y', ascending=False).iloc[0,0]
coffee_low_label = data_coffeehouse.query('coupon == "Coffee House"').sort_values(by='Y', ascending=True).iloc[0,0]

#Use these labels to fill based on whether Y=1 given that coupon = Coffee House


#data_coffeehouse.loc[data_coffeehouse['Y'] == data_coffeehouse['Y'].abs().max()]
print(data.groupby(['Bar', 'coupon'])[['Y']].mean())
print(data.groupby(['CarryAway', 'coupon'])[['Y']].mean())
print(data.groupby(['RestaurantLessThan20', 'coupon'])[['Y']].mean())
print(data.groupby(['Restaurant20To50', 'coupon'])[['Y']].mean())

destination               0
passanger                 0
weather                   0
temperature               0
time                      0
coupon                    0
expiration                0
gender                    0
age                       0
maritalStatus             0
has_children              0
education                 0
occupation                0
income                    0
Bar                     107
CoffeeHouse             217
CarryAway               150
RestaurantLessThan20    129
Restaurant20To50        189
toCoupon_GEQ5min          0
toCoupon_GEQ15min         0
toCoupon_GEQ25min         0
direction_same            0
direction_opp             0
Y                         0
dtype: int64
4~8
                                    Y
Bar   coupon
1~3   Bar                    0.647355
      Carry out & Take away  0.759657
      Coffee House           0.498688
      Restaurant(20-50)      0.473684
      Restaurant(<20)        0.729391
4~8   Bar                    0.780000
      Carry out & Take away  0.735450
      Coffee House           0.524324
      Restaurant(20-50)      0.435484
      Restaurant(<20)        0.743697
gt8   Bar                    0.734694
      Carry out & Take away  0.569231
      Coffee House           0.451327
      Restaurant(20-50)      0.595238
      Restaurant(<20)        0.658228
less1 Bar                    0.444050
      Carry out & Take away  0.712286
      Coffee House           0.504202
      Restaurant(20-50)      0.420398
      Restaurant(<20)        0.683794
never Bar                    0.187952
      Carry out & Take away  0.753368
      Coffee House           0.490220
      Restaurant(20-50)      0.430400
      Restaurant(<20)        0.710339
                                        Y
CarryAway coupon
1~3       Bar                    0.413840
          Carry out & Take away  0.734982
          Coffee House           0.512735
          Restaurant(20-50)      0.460695
          Restaurant(<20)        0.732353
4~8       Bar                    0.417910
          Carry out & Take away  0.753731
          Coffee House           0.510813
          Restaurant(20-50)      0.429474
          Restaurant(<20)        0.721639
gt8       Bar                    0.425781
          Carry out & Take away  0.733788
          Coffee House           0.502075
          Restaurant(20-50)      0.472637
          Restaurant(<20)        0.702941
less1     Bar                    0.369128
          Carry out & Take away  0.676301
          Coffee House           0.423345
          Restaurant(20-50)      0.387931
          Restaurant(<20)        0.611529
never     Bar                    0.160000
          Carry out & Take away  0.741935
          Coffee House           0.465116
          Restaurant(20-50)      0.421053
          Restaurant(<20)        0.764706
                                                   Y
RestaurantLessThan20 coupon
1~3                  Bar                    0.396355
                     Carry out & Take away  0.724725
                     Coffee House           0.500893
                     Restaurant(20-50)      0.416796
                     Restaurant(<20)        0.702679
4~8                  Bar                    0.426549
                     Carry out & Take away  0.746224
                     Coffee House           0.512367
                     Restaurant(20-50)      0.471178
                     Restaurant(<20)        0.719497
gt8                  Bar                    0.456989
                     Carry out & Take away  0.756522
                     Coffee House           0.522042
                     Restaurant(20-50)      0.517007
                     Restaurant(<20)        0.760417
less1                Bar                    0.373832
                     Carry out & Take away  0.715385
                     Coffee House           0.448062
                     Restaurant(20-50)      0.412451
                     Restaurant(<20)        0.674672
never                Bar                    0.486486
                     Carry out & Take away  0.804348
                     Coffee House           0.423077
                     Restaurant(20-50)      0.333333
                     Restaurant(<20)        0.555556
                                               Y
Restaurant20To50 coupon
1~3              Bar                    0.431002
                 Carry out & Take away  0.738617
                 Coffee House           0.515551
                 Restaurant(20-50)      0.527559
                 Restaurant(<20)        0.752137
4~8              Bar                    0.633333
                 Carry out & Take away  0.753333
                 Coffee House           0.572165
                 Restaurant(20-50)      0.626374
                 Restaurant(<20)        0.693642
gt8              Bar                    0.628571
                 Carry out & Take away  0.680851
                 Coffee House           0.637363
                 Restaurant(20-50)      0.687500
                 Restaurant(<20)        0.694915
less1            Bar                    0.388151
                 Carry out & Take away  0.728634
                 Coffee House           0.500000
                 Restaurant(20-50)      0.412568
                 Restaurant(<20)        0.693002
never            Bar                    0.340836
                 Carry out & Take away  0.738342
                 Coffee House           0.432133
                 Restaurant(20-50)      0.295652
                 Restaurant(<20)        0.684989

In [109]:
#Are there multiple values missing in the rows
data[data.isnull().any(axis=1)]

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12409,Home,Alone,Sunny,80,6PM,Restaurant(20-50),1d,Female,36,Married partner,...,NaN,1~3,1~3,1~3,1,0,0,1,0,1
12410,Work,Alone,Rainy,55,7AM,Carry out & Take away,1d,Female,36,Married partner,...,NaN,1~3,1~3,1~3,1,0,0,0,1,1
12411,Work,Alone,Snowy,30,7AM,Coffee House,1d,Female,36,Married partner,...,NaN,1~3,1~3,1~3,1,0,0,1,0,0
12412,Work,Alone,Snowy,30,7AM,Bar,1d,Female,36,Married partner,...,NaN,1~3,1~3,1~3,1,1,1,0,1,0
12413,Work,Alone,Sunny,80,7AM,Restaurant(20-50),2h,Female,36,Married partner,...,NaN,1~3,1~3,1~3,1,0,0,1,0,0

4. What proportion of the total observations chose to accept the coupon?

In [98]:
data.shape

(12610, 25)

5. Use a bar plot to visualize the `coupon` column.

6. Use a histogram to visualize the temperature column.

**Investigating the Bar Coupons**

Now, we will lead you through an exploration of just the bar related coupons.  

1. Create a new `DataFrame` that contains just the bar coupons.

2. What proportion of bar coupons were accepted?

3. Compare the acceptance rate between those who went to a bar 3 or fewer times a month to those who went more.

4. Compare the acceptance rate between drivers who go to a bar more than once a month and are over the age of 25 to the all others.  Is there a difference?

5. Use the same process to compare the acceptance rate between drivers who go to bars more than once a month and had passengers that were not a kid and had occupations other than farming, fishing, or forestry.

6. Compare the acceptance rates between those drivers who:

- go to bars more than once a month, had passengers that were not a kid, and were not widowed *OR*
- go to bars more than once a month and are under the age of 30 *OR*
- go to cheap restaurants more than 4 times a month and income is less than 50K.

7.  Based on these observations, what do you hypothesize about drivers who accepted the bar coupons?

### Independent Investigation

Using the bar coupon example as motivation, you are to explore one of the other coupon groups and try to determine the characteristics of passengers who accept the coupons.